body, .zero-spacing {
	margin: 0;
	padding: 0;
    border: 0;
}

/* we need this absolutely positioned but we also use this class to find it in the js */
.live-area {
    position: absolute;
    /* because we make some images taller than the div to allow perspective scrolling */
    overflow: hidden;
}

/* fill-parent is used widely to position divs over the whole .live-area
** whole-screen is used in js to identify the outer element that we read our size from
** after a resize */
.fill-parent, .whole-screen {
    position: absolute;
	width: 100%;
	height: 100%;
}

.fill-parent-scroll-img {
    position: absolute;
    left: 15%;
	width: 100%;
    /* because we make some images taller than the div to allow perspective scrolling */
	height: 110%;
}

.fill-parent-scroll-img-2 {
    position: absolute;
    left: 15%;
    /* because we make some images wider than the div to allow perspective scrolling */
	width: 207%;
	height: 100%;
}

.fill-parent-scroll-img-3 {
    position: absolute;
    left: -0.5%;
    top: -53%;
    /* because we make some images wider than the div to allow perspective scrolling */
	width: 116%;
	height: 206%;
}

@keyframes submove1 {
    0% {
        left: 15%;
        top: -20%;
        width: 15%;
    }

    50% {
        left: 30%;
        top: 40%;
        width: 15%;
    }

    60% {
        left: 50%;
        top: 40%;
        width: 20%;
    }

    75% {
        left: 70%;
        top: 50%;
        width: 30%;
    }

    100% {
        left: 120%;
        top: 70%;
        width: 40%;
    }
}

.submove {
    position: absolute;
    animation-name: submove1;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    width: 30%;
    /* let sparkles get properly hidden behind it */
    pointer-events: auto;
}

@keyframes submove2 {
    0% {
        left: 5%;
        top: 30%;
    }

    50% {
        left: 50%;
        top: 40%;
    }

    60% {
        left: 60%;
        top: 50%;
    }

    75% {
        left: 80%;
        top: 30%;
    }

    100% {
        left: 110%;
        top: 50%;
    }
}

.submove2 {
    position: absolute;
    animation-name: submove2;
    animation-duration: 32s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    width: 10%;
    /* let sparkles get properly hidden behind it */
    pointer-events: auto;
}

@keyframes submove3 {
    0% {
        left: 47%;
        top: 80%;
        transform: rotate(0deg);
        transform-origin: 50% -150%;
        width: 20%;
    }

    40% {
        left: 50.5%;
        top: 70%;
        transform: rotate(360deg);
        transform-origin: 50% -100%;
        width: 15%;
    }

    80% {
        left: 52%;
        top: 60%;
        transform: rotate(720deg);
        transform-origin: 50% -50%;
        width: 10%;
    }

    100% {
        left: 57%;
        top: 50%;
        transform: rotate(1080deg);
        transform-origin: 50% 0%;
        width: 0%;
    }

}

.submove3 {
    position: absolute;
    animation-name: submove3;
    animation-duration: 45s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    width: 10%;
    /* let sparkles get properly hidden behind it */
    pointer-events: auto;
}

@keyframes fog-background-move {
    0% {
        top: 0%;
    }

    100% {
        top: -5%;
    }
}

.fog-background {
    animation-name: fog-background-move;
    animation-duration: 16s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes fog-taller1-move {
    0% {
        top: 0%;
    }

    100% {
        top: -10%;
    }
}

.fog-taller1 {
    animation-name: fog-taller1-move;
    animation-duration: 16s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes fog-taller2-move {
    0% {
        top: 0%;
    }

    100% {
        top: -10%;
    }
}

.fog-taller2 {
    animation-name: fog-taller2-move;
    animation-duration: 16s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes fog-background2-move {
    0% {
        left: 0%;
    }

    100% {
        left: -50%;
    }
}

.fog-background2 {
    animation-name: fog-background2-move;
    animation-duration: 32s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes fog-wider1-move {
    0% {
        left: 0%;
    }

    100% {
        left: -70%;
    }
}

.fog-wider1 {
    animation-name: fog-wider1-move;
    animation-duration: 32s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes fog-wider2-move {
    0% {
        left: 0%;
    }

    100% {
        left: -107%;
    }
}

.fog-wider2 {
    animation-name: fog-wider2-move;
    animation-duration: 32s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes fog-background3-move {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fog-background3 {
    animation-name: fog-background3-move;
    animation-duration: 270s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.fog-rotate1 {
    animation-name: fog-background3-move;
    animation-duration: 120s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.fog-rotate2 {
    animation-name: fog-background3-move;
    animation-duration: 120s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.sparkle {
    position: absolute;
    pointer-events: auto;
}

.sparkle:hover {
    content: url("../img/sparkle-hover.png");
}

.no-hover {
    pointer-events: none;
}

.phrase-plane-border {
    width: 15%;
    left: 0%;
    background-color: black;
}

.phrase-plane {
    padding: 3%;
}

.phrase-caption {
    font-style: bold;
    text-decoration: underline;
    padding-bottom: 1vh;
}

.phrase {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-shadow: 0.4vh 0.2vh black;
    width: auto;
    display: inline-block;
    clear: both;
    float: left;
/*    background: gray; */
    pointer-events: initial;
    padding: 0;
    margin: 0 0 0.4vh 0;
    position: relative;
}

.phrase.drag-drop-over-before {
    border-top: 1px solid white;
}

.phrase.drag-drop-over-after {
    border-bottom: 1px solid white;
}

.phrase:hover {
    background-color: rgba(48, 48, 48, 0.5);
}

.phrase p {
    margin: 0;
    border: 0;
}

.phrase-drag-drop {
    position: absolute;
    visibility: hidden;
    height: 3vh;
    top: 0;
    bottom: 0.2vh;
    margin-top: auto;
    margin-bottom: auto;
    right: 100%;
}

.phrase:hover img {
    visibility: visible;
}

.indent-line {
    text-indent: 9vh
}

.phrase-para {
    min-height: 1.5vh
}

.fog-background-4 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fill-parent-scale-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes fog-scale1-move {
    0% {
        top: -20%;
        left: -20%;
        height: 140%;
        width: 140%;
    }

    100% {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.fog-scale1 {
    animation-name: fog-scale1-move;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes fog-scale2-move {
    0% {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        top: -25%;
        left: -45%;
        height: 150%;
        width: 150%;
        opacity: 0;
    }
}

.fog-scale2 {
    animation-name: fog-scale2-move;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes subscale1 {
    0% {
        left: 70%;
        top: 15%;
        width: 15%;
    }

    50% {
        left: -3%;
        top: -3%;
        width: 107%;
    }

    100% {
        left: -45%;
        top: -90%;
        width: 200%;
    }
}

.subscale {
    position: absolute;
    animation-name: subscale1;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4,.1,.7,.7);
    width: 30%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-to-black {
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    background: rgb(0, 0, 0);
}

.fade-from-black {
    animation-name: fade;
    animation-duration: 3s;
    animation-direction: reverse;
    opacity: 1;
    background: rgb(0, 0, 0);
}

/* moving and non-moving planes must be same width
 * visible part is from 15% -> 100% so the default position here
 * is left = 7.5% so half the spare width is lost on either side */
.fill-parent-parallax {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: auto;
}

.composition-image {
    position: absolute;
    overflow: hidden;
    width: auto;
    height: auto;
}

.check-list:hover {
    content: url("../img/check-list-hl.png");
}

.walk-button {
    position: absolute;
    top: 0;
    height: 100%;
    width: 10vh;
    background: rgba(128, 128, 128, 0.5);
}

.walk-left-button {
    left: 0;
}

.walk-right-button {
    right: 0;
}

.walk-button-image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: auto;
}

/* temporary debugging helpers */
.show-div-red {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    border: solid red 7px;
}

.show-div-blue {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    border: solid blue 3px;
}

.sparkle-test {
    position: relative;
    left: 50%;
    top: 50%;
}

.page-2-test{
    width: 100%;
    height: 100%;
    border: solid blue 1px;
    box-sizing: border-box;
}
