<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ProtoPoem</title>
  <meta name="description" content="Prototype interactive poem presentation">
  <meta name="author" content="Ian Badcoe">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.0/howler.core.min.js"
          integrity="sha256-jzl+6jtuFPnzI7wgE4AGtMNJj8bGAlDNjY15I+N+bOo="
          crossorigin="anonymous">
  </script>
  <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous">
  </script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.0/howler.spatial.min.js"
          integrity="sha256-dH15GzNnKOMDjG/5q26DliEgY4G0lxz5vBpbrV8+wcg="
          crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="js/util.js"></script>
  <script src="js/app.js"></script>
  <script src="js/page1soundscape.js"></script>
  <script src="js/sparklePlane.js"></script>
  <script src="js/page1.js"></script>
  <script src="js/page2.js"></script>
  <script src="js/page3.js"></script>
  <script src="js/sparkle.js"></script>
  <script src="js/animationEnd.js"></script>

  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body ng-app="app" ng-controller="pageController">
  <div class="container-fluid navbar-inverse navbar-fixed-bottom my-nav-bar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Z-Boot</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ng-class="{active: myPage==1}" ng-click="pageNavigate(1)"><a href="#">1</a></li>
        <li ng-class="{active: myPage==2}" ng-click="pageNavigate(2)"><a href="#">2</a></li>
        <li ng-class="{active: myPage==3}" ng-click="pageNavigate(3)"><a href="#">3</a></li>
      </ul>
    </div>
  </div>

  <div class="container-fluid zero-spacing" ng-switch="myPage">
    <div class="whole-screen zero-spacing">
      <!-- this following div we smart-resize with js to make the largest 16:9 rectangle that fits on the whole-screen minus the nav-bar -->
      <div class="live-area">
        <page1 ng-switch-when="1"></page1>
        <page2 ng-switch-when="2"></page2>
        <page3 ng-switch-when="3"></page3>
      </div>
    </div>
  </div>
</body>
</html>