<div class="composition-image zero-spacing no-hover" ng-style="{ 'left' : style_left, 'bottom' : style_bottom, 'width' : style_width, 'height' : style_height }">
    <img ng-class="classes" ng-repeat="image in config.image_hl" ng-mouseenter="mouseEnter()" ng-mouseleave="mouseLeave()" ng-src="{{image.image}}"
    ng-style="{ 'left': image.left, 'width': image.width, 'height': image.height }" ng-show="hl" />
    <img ng-class="classes" ng-repeat="image in config.image" ng-mouseenter="mouseEnter()" ng-mouseleave="mouseLeave()" ng-src="{{image.image}}"
        ng-style="{ 'left': image.left, 'width': image.width, 'height': image.height }" ng-show="!hl" />
</div>