<img class="fill-parent-scroll-img-2 fog-background2" ng-src="img/background2.png" />
<sparkle-plane id="sparkle-plane-1" phrases="sparkles" min-depth="50" max-depth="100" />
<img class="fill-parent-scroll-img-2 fog-wider1 no-hover" ng-src="img/fog2-far.png" />
<sparkle-plane id="sparkle-plane-2" phrases="sparkles" min-depth="25" max-depth="50" />
<div class="fill-parent no-hover">
    <img class="submove2" animation-end="nextSubPage" ng-src="img/sub-sm-right.png" />
</div>
<sparkle-plane id="sparkle-plane-3" phrases="sparkles" min-depth="12.5" max-depth="25" />
<img class="fill-parent-scroll-img-2 fog-wider2 no-hover" ng-src="img/fog2-mid.png" />
<sparkle-plane id="sparkle-plane-4" phrases="sparkles" min-depth="0" max-depth="12.5" />