<img class="fill-parent-scroll-img fog-background" ng-src="img/background.png" />
<sparkle-plane id="sparkle-plane-1" sparkles="sparkles" min-depth="50" max-depth="100" />
<img class="fill-parent-scroll-img fog-taller1 no-hover" ng-src="img/fog-far.png" />
<sparkle-plane id="sparkle-plane-2" sparkles="sparkles" min-depth="25" max-depth="50" />
<div class="fill-parent no-hover">
    <img class="submove" animation-end="nextSubPage" ng-src="img/sub-sm-right.png" />
</div>
<sparkle-plane id="sparkle-plane-3" sparkles="sparkles" min-depth="12.5" max-depth="25" />
<img class="fill-parent-scroll-img fog-taller2 no-hover" ng-src="img/fog-mid.png" />
<sparkle-plane id="sparkle-plane-4" sparkles="sparkles" min-depth="0" max-depth="12.5" />