<div class="fill-parent">
    <div class="page-2-inside">
        <composition-image config="back" />
        <composition-floor config="floor" />
        <composition-image ng-repeat="component in components" config="component" />
    </div>
    <div class="walk-button walk-left-button zero-spacing"
         ng-mousedown="leftStart()"
         ng-mouseup="moveEnd()"><img class="walk-button-image" ng-src="img/left-arrow.png" /></div>
    <div class="walk-button walk-right-button zero-spacing"
         ng-mousedown="rightStart()"
         ng-mouseup="moveEnd()"><img class="walk-button-image" ng-src="img/right-arrow.png" /></div>
    <phrase-plane found-phrases="foundPhrases" captions="captions" sub-page-num="1" allow-drag-drop="false" />
</div>