<img class="fill-parent-scroll-img fog-background" ng-src="img/background.png" />
<sparkle-plane id="sparkle-plane-1" phrases="phrases[0]" />
<img class="fill-parent-scroll-img fog-taller1 no-hover" ng-src="img/fog-far.png" />
<sparkle-plane id="sparkle-plane-2" phrases="phrases[1]" />
<div class="fill-parent no-hover">
    <img class="submove" ng-src="img/sub-sm-right.png" />
</div>
<sparkle-plane id="sparkle-plane-3" phrases="phrases[2]" />
<img class="fill-parent-scroll-img fog-taller2 no-hover" ng-src="img/fog-mid.png" />
<sparkle-plane id="sparkle-plane-4" phrases="phrases[3]" />