<div>
  <!--<div class="background"></div>
  <div class="fogfardiv fogfarmove"></div>-->
  <div class="whole-screen">
    <img class="fog-img fog-background" ng-src="/img/background.png" />
    <img class="fog-img fog-taller1" ng-src="/img/fog-far.png" />
    <div class="anim-div">
      <img class="submove" ng-src="/img/sub-sm-right.png"/>
    </div>
    <img class="fog-img fog-taller2" ng-src="/img/fog-mid.png" />
  </div>
  <!--<div class="subdiv"></div>
  <div class="fogneardiv fognearmove"></div>-->
</div>