<div class="fill-parent">
    <img class="fill-parent-parallax" ng-src="img/page2-far.png" ng-style="{ 'left' : far_parallax_x }"/>
    <img class="fill-parent-parallax no-hover" ng-src="img/page2-mid.png" ng-style="{ 'left' : mid_parallax_x }"/>
    <img class="fill-parent-parallax no-hover" ng-src="img/page2-near.png" ng-style="{ 'left' : near_parallax_x }"/>
    <img class="composition-image" ng-src="img/check-list.png" ng-style="{ 'left' : cl_parallax_x, 'top' : cl_top, 'right' : cl_parallax_x2, 'bottom' : cl_bottom }"/>
    <!--<phrase-plane found-phrases="foundPhrases" captions="captions" sub-page-num="mySubPage" />-->
    <div class="walk-button walk-left-button zero-spacing"
         ng-mousedown="leftStart()"
         ng-mouseup="moveEnd()"><img class="walk-button-image" ng-src="img/left-arrow.png" /></div>
    <div class="walk-button walk-right-button zero-spacing"
         ng-mousedown="rightStart()"
         ng-mouseup="moveEnd()"><img class="walk-button-image" ng-src="img/right-arrow.png" /></div>
</div>