<!-- just to have one that doesn't move with the animation -->
<img class="fog-img fog-background-dummy" ng-src="img/background.png" />
<img class="fog-img fog-background" ng-src="img/background.png" />
<img class="fog-img fog-taller1" ng-src="img/fog-far.png" />
<div class="anim-div">
  <img class="submove" ng-src="img/sub-sm-right.png"/>
</div>
<div class="anim-div temp-blue">
  <img class="sparkle-test" ng-src="img/sparkle.png"/>
</div>
<img class="fog-img fog-taller2" ng-src="img/fog-mid.png" />
